.bengali,
.malayalam,
.tamil {
  font-family: hind-siliguri;
}

.devehi {
  font-family: devehi;
}

.hindi {
  font-family: hindi;
}

.korean {
  font-family: korean;
}

.malayalam {
  font-family: malayalam;
}

.tamil {
  font-family: tamil;
}

.persian {
  font-family: Samim;
}

.thai {
  font-family: thai;
}

